body {
    background-color: transparent;
}

.white {
    background: #fafafa;
}

.whiteBlue {
    background: #c9dfff;
}

.midBlue {
    background: #85b3f8;
}

.blue {
    background: #2464c7;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    padding-top:0;
}

.layer2 {
    background-image: url('./wave-haikei3.svg');
}

.layer1 {
    background-image: url('./layered-waves-haikei.svg');
}

.layer0 {
    background-image: url('./wave-haikei2.svg');
}

.cardList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardListItem {
    background-color: rgba(252, 252, 252, 0.4);
    margin-bottom: 10px;
    width: 100%;
    /* media queries */   
}

.container {
    display: flex;
    flex-direction: column;
}



@media (min-width: 800px) {
    .cardListItem {
        width: 50%;
    }

    .container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50%;
    }

    .cardListItem {
        width: 40%;
    }
}