@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.form-control {
  width: 95%;
  align-self: flex-start;
}

.forms-button-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-button-left{
  justify-content: flex-start;
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.form-button-right{
  justify-content: flex-end;
  display: flex;
  flex: 1;
  margin-right: 10px;
}